@page "/"
@inherits StudentModelListBase

<h3>StudentModel List</h3>

@if(StudentsList ==null)
{
    <div class="spinner"></div>
}else
{
    <div class="card-deck">

        @foreach (var student in StudentsList)
        {
            <div class="card m-3">
                <div class="card-header">
                    <h3>@student.FirstName - @student.LastName</h3>
                </div>
                <img class="card-img-top img-thumbnail" src="@student.PhotoPath" />
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary m-1">View</a>

                    <a href="#" class="btn btn-primary m-1">Edit</a>

                    <a href="#" class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
        }

    </div>
}